{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
	$(document).ready(function() {

		// Add the missing url to the text
		$("#url").text(window.location.pathname);

		// Fix the css locations dynamically
		$("head link").each(function() {
			for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
				$(this).attr("href", "../" + $(this).attr("href"));
		});

	});
</script>

<p>
	Sorry the page <b id="url"></b> could not be found on this server.
</p>
{% endblock %}
