<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<title>Welcome</title>
	
	<meta name="viewport" content="width=600">
	
	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/master.css" type="text/css" media="screen" charset="utf-8">
	
</head>
<body>
	{% block content %}
	Main content
	{% endblock %}
</body>
</html>
